@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

header {
  background: #4a90e2;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 42;
  color: #fff;
  align-items: center;
  min-width: 980px;
  font-size: 14px;
}

nav img {
  height: 24px;
}

div > span {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav > div {
  display: flex;
  justify-content: "center";
  align-items: center;
}

nav > div i {
  margin-left: 8px;
}

.postlist {
  width: 700px;
  margin: 0 auto 20px;
}

.post {
  border-radius: 7px;
  background: #ffffff;
  padding: 25px;
  margin-top: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-content {
  margin: 25px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.post-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 20px;
  background: #eeeeee;
}

.post-author {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
}

.post-date {
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}

.post-header-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.divisor {
  width: 100%;
  background: #eeeeee;
  height: 1px;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: 25px;
}

.comment-avatar {
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 15px;
  background: #eeeeee;
}

.comment-content {
  background: #eeeeee;
  padding: 15px;
  border-radius: 20px;
  line-height: 22px;
}

.comment-content span:first-child {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
